@import "../../Utils/Color.scss";

.new-class-button {
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background: $mainYellow;
  color: $mainNavy;
  padding: 0.3em 1.8em;
  cursor: pointer;
  font-size: 2.2em;
}

.new-class-button:focus {
  outline: none;
}
